.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Continuous integration is built-in
    %p
      = succeed ' ' do
        %strong Continuous integration
      (CI) works to integrate code provided by your team in a shared repository. Developers share the new code in a merge request (MR). The request triggers a pipeline to build, test, and validate the new code prior to merging the changes within your repository.

    %p
      The practice of
      = succeed ' ' do
        %strong continuous delivery
      (CD) ensures the delivery of CI-validated code to your application via structured deployment pipelines.

    %p
      Together,
      %a{href: "/ci-cd/"} CI and CD
      help your team deliver faster results for your customers and stakeholders. CI helps you catch and eliminate bugs early in the development cycle, and CD ensures only verified code is sent to your applications.

    %p
      CI and CD must work together to help your team build quickly and effectively, and are critical for fully-optimized software development.
  .col-xs-1.col-md-1
%hr.divider/
